<launch>
 
  <arg name="fcu_url" default="serial:///dev/ttyUSB0:921600" />
  <arg name="gcs_url" default="udp://:14556@192.168.4.148:14550" />
  <arg name="tgt_system" default="0" />
  <arg name="tgt_component" default="0" />
  <arg name="log_output" default="screen" />

  <node name="rc_joystick" pkg="vis_pose_test" type="rc_joystick" output="$(arg log_output)"/>
 
  <node pkg="mavros" type="mavros_node" name="mavros" required="true" clear_params="true" output="$(arg log_output)">
    <param name="fcu_url" value="$(arg fcu_url)" />
    <param name="gcs_url" value="$(arg gcs_url)" />
    <param name="target_system_id" value="$(arg tgt_system)" />
    <param name="target_component_id" value="$(arg tgt_component)" />
 
    <rosparam command="load" file="$(find vis_pose_test)/launch/px4_pluginlists.yaml" />
    <rosparam command="load" file="$(find vis_pose_test)/launch/px4_config.yaml" />
  </node>
 
</launch>
